* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#parent {
    height: 100%;
    width: 100%;
    background-color: black;
}

#font1 {
    color: gray;
    height: 100%;
    width: 100%;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 8px;
}

#btn1 {
    color: black;
    position: absolute;
    top: 130px;
    left: 34%;
    border: 1px solid white;
    background-color: white;
}

#font2 {
    color: gray;
    height: 100%;
    width: 100%;
    font-size: 15px;
    position: absolute;
    top: 230px;
    left: 8px;
}

#btn2 {
    color: black;
    position: absolute;
    top: 280px;
    left: 34%;
    border: 1px solid white;
    background-color: white;
}

#font3 {
    color: gray;
    height: 100%;
    width: 100%;
    font-size: 15px;
    position: absolute;
    top: 370px;
    left: 8px;
}

#btn3 {
    color: black;
    position: absolute;
    top: 420px;
    left: 34%;
    border: 1px solid white;
    background-color: white;
}

#font4 {
    color: gray;
    height: 100%;
    width: 100%;
    font-size: 15px;
    position: absolute;
    top: 520px;
    left: 8px;
}

#btn4 {
    color: black;
    position: absolute;
    top: 580px;
    left: 34%;
    border: 1px solid white;
    background-color: white;
}